<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to '[back to articles]', articles_path %>
<% if user_signed_in? %>
  <%= link_to '[edit]', edit_article_path%>
  <%= link_to '[Delete]', article_path, methode: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
