<!DOCTYPE html>
<html>
  <head>
    <title>Sumimasen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%  if params[:controller] == 'welcome'%>
      <%= render 'shared/banner_home'%>
    <% else %>
      <div class="fixed-bar">
        <%= render 'shared/navbar'%>
        <%= render 'shared/notice'%>
      </div>
    <% end %>

    <div class="container">
      <!-- <%= render 'shared/notice'%> -->
      <%= yield %>
    <div>

  </body>
</html>
